.l-submain.optimization { background: #149bd7; }

.progressbars { margin: 0 auto; width: 1200px; padding-top: 40px; padding-bottom: 75px; background: #149bd7; }
@media (max-width: 74.99em) { .progressbars { width: 900px; } }
@media (max-width: 61.24em) { .progressbars { width: 100%; } }
.progressbars .progressbars-heading { font-size: 36px; text-align: center; margin-bottom: 45px; color: #fff; line-height: 45px; }
.progressbars .circular-bars { visibility: hidden; }
.progressbars .circular-bars { *zoom: 1; }
.progressbars .circular-bars:before, .progressbars .circular-bars:after { content: ""; display: table; }
.progressbars .circular-bars:after { clear: both; }
.progressbars .circular-bars .circular-bar { float: left; position: relative; text-align: center; width: 25%; }
@media (max-width: 74.99em) { .progressbars .circular-bars .circular-bar { width: 50%; margin-bottom: 30px; } }
@media (max-width: 46.24em) { .progressbars .circular-bars .circular-bar { width: 100%; } }
.progressbars .circular-bars .circular-bar .circular-bar-content label { position: absolute; top: 32%; left: 40%; font-size: 36px; display: inline-block; text-align: center; color: #fff; }
@media (max-width: 74.99em) { .progressbars .circular-bars .circular-bar .circular-bar-content label { top: 33%; left: 43%; } }
.progressbars .circular-bars .circular-bar .circular-bar-title { margin-top: 25px; color: #fff; text-align: center; font-size: 20px; }
@media (max-width: 74.99em) { .progressbars .circular-bars .circular-bar .circular-bar-title { margin-top: 10px; } }
